/* NOT REQUIRED */
a {
    display: flex;
    flex-wrap: nowrap;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    /* text-decoration: none; */
    margin-left: 10px;
    background-color: #f9f5ef;
}

.pixiv {
    position: absolute;
    left: 950px;
    top: 170px;
}

.miiverse {
    position: absolute;
    left: 950px;
    top: 650px;
}

.illu {
    position: absolute;
    top: 450px;
    left: 500px;
}

.intro {
    width: 700px;
    font-size: 15px;
}

.pixivmob {
    position: absolute;
    left: 1450px;
    top: 1155px;
}

h1 {
    background-color: #ee6c4d;
    padding: 15px;
    margin-bottom: 15px;
}

h2 {
    margin-left: 30px;
}

.lok {
    position: absolute;
    left: 1818px;
    top: 25px;
}